section{
    margin: 2em 0;
    
    .categorias{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .categoria{
            background-color: rgb(61, 73, 82);
            padding: 1em;
            cursor: pointer;

            .imagen{

                .texto{
                    position: absolute;
                    width: 20rem;
                    height: 15rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h4{
                        display: none;
                        font-size: 1.5rem;
                    }
                }
                

                img{
                    width: 20rem;
                    height: 15rem;
                }
            }

            .imagen:hover{
                
                h4{
                    display: block;
                    color: white;
                    font-weight: 900;
                }
                img{
                    opacity: 0.2;
                    transition: .4s;
                }
            }

            
        }
    }
}



@media screen and (max-width: 425px) {
    section{
        
        .categorias{
    
            .categoria{
    
                .imagen{
    
                    .texto{
                        position: initial;
                        
                        h4{
                            display: block;
                            font-size: 1.2rem;
                        }
                    }
                    
    
                    img{
                        width: 200px;
                        height: 100px;
                    }
                }
    
                .imagen:hover{
                    
                    h4{
                        display: none;
                    }
                    img{
                        opacity: 1;
                    }
                }
            }
        }
    }
}